<div class="box bg-white"> 

    <div class="grid grid-cols-6 py-3 justify-between m-2">

        <div class="col-span-3 pl-5">

            <div class="flex w-full items-center">
    
                <div class="ml-5 justify-between">
    
                     <p class="font-medium text-lg">Total Items : {{orderitems.totalItem}}</p>
                     <p class="font-medium text-lg">Discounted Price : ₹{{orderitems.discountedPrice}}</p>
    
                </div>
    
            </div> 

        </div>

        <div class="col-span-1">

            <p class="font-medium text-lg">Total Price : ₹{{orderitems.price}}</p>
            <p class="font-medium text-lg">Discount : ₹{{orderitems.discount}}</p>
          
            
        </div>

        <!-- <div class="col-span-2 pr-5">

            <p class="font-medium text-lg">{{orderitems.shippingAddress.firstName+ ' ' +orderitems.shippingAddress.lastName}}</p>
            <p class="font-medium text-lg">{{orderitems.shippingAddress.mobile}}</p>
            <p class="font-medium text-lg">{{orderitems.shippingAddress.streetAddress}}</p>

        </div> -->

    </div>

</div>
